.css_login_label { }
.css_login_line { }
.css_login_obj { }
.css_pswd_label { }
.css_pswd_line { }
.css_pswd_obj { }
.css_name_label { }
.css_name_line { }
.css_name_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_active_label { }
.css_active_line { }
.css_active_obj { }
.css_apellido_label { }
.css_apellido_line { }
.css_apellido_obj { }
.css_ncedula_label { }
.css_ncedula_line { }
.css_ncedula_obj { }
.css_telefono1_label { }
.css_telefono1_line { }
.css_telefono1_obj { }
.css_genero_label { }
.css_genero_line {text-align:left;}
.css_genero_obj {text-align:left;}
.css_departamento_label { }
.css_departamento_line {text-align:left;}
.css_departamento_obj {text-align:left;}
.css_ncuenta_label { }
.css_ncuenta_line { }
.css_ncuenta_obj { }
.css_groups_label { }
.css_groups_line { }
.css_groups_obj { }
.css_confirm_pswd_label { }
.css_confirm_pswd_line { }
.css_confirm_pswd_obj { }
