.css_clave_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_clave_grid_line {vertical-align: top;text-align: right;}
.css_persona_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_persona_grid_line {vertical-align: top;text-align: left;}
.css_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: right;}
.css_tiempo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tiempo_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_aprovacion1_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_aprovacion1_grid_line {vertical-align: top;text-align: right;}
.css_aprovacion2_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_aprovacion2_grid_line {vertical-align: top;text-align: right;}
