.css_clave_label { }
.css_clave_line {text-align:left;}
.css_clave_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_valor_label { }
.css_valor_line {text-align:left;}
.css_valor_obj {text-align:left;}
.css_tiempo_label { }
.css_tiempo_line {text-align:left;}
.css_tiempo_obj {text-align:left;}
.css_aprovacion1_label { }
.css_aprovacion1_line {text-align:left;}
.css_aprovacion1_obj {text-align:left;}
.css_persona_label { }
.css_persona_line { }
.css_persona_obj { }
.css_tipo_label { }
.css_tipo_line {text-align:left;}
.css_tipo_obj {text-align:left;}
.css_status_label { }
.css_status_line {text-align:left;}
.css_status_obj {text-align:left;}
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
.css_observacion_label { }
.css_observacion_line { }
.css_observacion_obj { }
